.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

.card:hover{
    border-color: #ffc000;
}

.card__icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card__name{
    margin-bottom: 5px;
    font-weight: 900;
}

.card__loc{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card__web{
    margin-bottom: 5px;
}

.card__map{
    margin-top: 10px;
    margin-bottom: 10px;
}