.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #ffc000;
    position: sticky;
    top: 0px;
}

.nav-bar__box{
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-bar__title, #nav-bar__about{
    font-weight: 700;
    padding: 10px;
}

#nav-bar__title > .nav-bar__box {
    margin-right: auto;
    flex-wrap: wrap;
}

#nav-bar__about > .nav-bar__box {
    margin-left: auto;
    cursor: pointer;
}

#nav-bar__about {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#nav-bar__about:hover{
    background-color: #e0a800;
}

#nav-bar__search-container {
    display: flex;
    justify-content: center;
    min-width: 205px;
    background: white;
    align-items: center;
    border-radius: 28px;
    border: 2px solid #ffc000;
    padding: 5px;
    flex: 1;
}

#nav-bar__search-container:hover{
    border: 2px solid black;
}

#nav-bar__search-container:focus-within{
    border: 2px solid black;
}

#nav-bar__search {
    font-size: 16px;
    width: 144px;
    border: 0;
    outline: none;
    flex: 1;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#search__icon {
    margin-right: 5px;
}

#clear__button{
    margin-right: 5px;
    margin-left: 5px;
}

#clear__button-inactive{
    display: none;
}

.home__content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 50px 10% 100px 10%;
    background-color: white;
    text-align: center;
}

#home__content-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#home__button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#home__button-container >p{
    font-weight: 700;
    margin-bottom: 20px;
}

.home__button{
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    background-color: #ffc000;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.home__button:hover{
    background-color: #e0a800;
}

#home__hyperlink{
    margin-top: 20px;
}

#error__msg{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home__content-cards{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ffc000;
    font-size: 16px;
    font-weight: 700;
}
