.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: black;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #ffc000;
    position: sticky;
    top: 0px;
}

.nav-bar__box{
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-bar__title, #nav-bar__about{
    font-weight: 900;
}

.nav-bar__title > #nav-bar__box {
    margin-right: auto;
}

.nav-bar__about > #nav-bar__box {
    margin-left: auto;
    cursor: pointer;
}

#nav-bar__about {
    cursor: pointer;
}

#nav-bar__search-container {
    display: flex;
    justify-content: center;
    min-width: 205px;
    background: white;
    align-items: center;
    border-radius: 40px;
    padding: 5px;
    flex: 1;
}

#nav-bar__search {
    font-size: 16px;
    width: 144px;
    border: 0;
    outline: none;
    flex: 1;
}

#search__icon {
    margin-right: 5px;
}

#clear__button{
    margin-right: 5px;
    margin-left: 5px;
}

#clear__button-inactive{
    display: none;
}

.home__content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 50px 10% 100px 10%;
    background-color: white;
    text-align: center;
}

#home__content-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#home__button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#home__button-container >p{
    font-weight: 700;
}

.home__button{
    width: fit-content;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
    background-color: #ffc000;
    border: none;
    cursor: pointer;
}

#home__hyperlink{
    margin-top: 20px;
}

#error__msg{
    font-size: 16px;
    font-weight: 700;
    color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home__content-cards{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ffc000;
    font-size: 16px;
    font-weight: 900;
}

@media only screen and (max-width: 450px) {

    #nav-bar__title {
        width: min-content;
        margin-left: 10px;
    }
    
    #nav-bar__about {
        margin-right: 10px;
    }  
}